<ion-view view-title="A propos">
<ion-content>
<div class="card">
  <div class="center item item-divider">
    <p>Crédits</p>
</div>

<div class="center item item-text-wrap">
  <div class="list">

  <img class="item full-image"src="img/mainMenu.png"/>
  <div class="item">

    <h3>Equipe développeurs</h3>
  <p>Victor COUTELLIER</p>
  <p>Clément DECHAENE</p>
  <p>Julien GAUTTIER</p>
  <p>Vladimir KARASSOULOFF</p>

      

  </div>
  <div class="item">
    <h3>A l'intention de</h3>
  <p>Ali ED-DBALI<p>
  <p>Frédéric DABROWSKI</p>
  <p>Frédéric LOULERGUE</p>
    

  </div>
  </div>
</div>

<div class="card">
  <div class=" center item item-divider">
    <p>A propos</p>
</div>
<div class="center item item-text-wrap">
    Ceci est un pong multijoueur.<br><br>
    <p>contact@ping.pong</p>
    <p>Copyright © 2016
    Tous droits réservés</p> 
</div>
</div>

</ion-content>
</ion-view>
