<ion-view view-title="Aide">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Recherche" ng-model="recherche">
            </label>
        </div>
        <div class="card" ng-repeat="help in helps | filter:recherche">
            <div class="item item-divider">
                {{help.titre}}
            </div>
            <div class="item item-text-wrap">
                {{help.description}}
            </div>
        </div>
    </ion-content>
</ion-view>
