<ion-view view-title="Menu Principal" hide-nav-bar="true">
    <ion-content ng-controller="homeCtrl">
        <div class="item-image home-image">
            <img class="full-image" src="img/mainMenu.png" />
        </div>
        <div>
            <div class="containerButtonMenu" ng-class="{'blur-element' : estPremierLancement()}">
                <div>
                    <button class="button button-block button-outline button-positive" ui-sref="jeux" data-ng-disabled="estPremierLancement()">
                        Jouer !
                    </button>
                </div>
                <div>
                    <button class="button button-block button-outline button-positive" ui-sref="options" data-ng-disabled="estPremierLancement()">
                        Options
                    </button>
                </div>
                <div>
                    <button class="button button-block  button-outline button-positive" ui-sref="about" data-ng-disabled="estPremierLancement()">
                        A propos
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="card premierLancement" ng-show="estPremierLancement()">
            <div class="item item-text-wrap">
                <p>Bienvenue sur Pong, c'est la première fois que vous lancez le jeux.</p>
                <p>Veuillez choisir un pseudo.</p>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Pseudo</span>
                        <input type="text" placeholder="Entrez votre pseudo" ng-model="pseudo">
                    </label>
                    <div class="padding">
                        <button class="button button-block button-positive" ng-click="setPseudo(pseudo)">Suivant</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
