<ion-view view-title="Jouer">
    <ion-content>
        <!-- <button class="button button-block button-positive" ui-sref="pong.html">
            Un joueur
        </button> -->
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="jeux-solo">
                Un joueur
            </button>
            <button class="button button-block button-positive" ui-sref="jeux-multi">
                Multijoueur
            </button>
            <button class="button button-block button-positive" ui-sref="jeux-mode">
                Modes speciaux
            </button>
        </div>
    </ion-content>
</ion-view>
