<ion-view view-title="Jouer">
    <ion-content>
        <!-- <button class="button button-block button-positive" ui-sref="pong.html">
            Un joueur
        </button> -->
        <a href="pong.html" class="button button-block button-positive">Un joueur</a>
        <button class="button button-block button-positive" ui-sref="jeux-multi">
            Multijoueur
        </button>
        <button class="button button-block button-positive" ui-sref="jeux-mode">
            Modes speciaux
        </button>
    </ion-content>
</ion-view>
