<ion-view view-title="Jouer" hide-nav-bar="true">
    <ion-content>
            <div class="item-image home-image">
            <img class="full-image" src="img/mainMenu.png" />
        </div>

        <div class="containerButtonMenu">
        <div>
            <button class="button button-block  button-outline button-positive" ui-sref="solo-config">Local</button>
        </div>
        <div>
            <button class="button button-block  button-outline button-positive" ui-sref="jeux-multi">En ligne</button>
        </div>
        <div>
            <button class="button button-block  button-outline button-positive" ui-sref="home">Retour</button>
        </div>
        </div>
    </ion-content>
</ion-view>
