<ion-view view-title="Changer votre pseudo">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Ancien pseudo</span>
                <input type="text" placeholder="{{oldPseudo}}" disabled>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nouveau pseudo</span>
                <input type="text" placeholder="Entrez votre nouveau pseudo" ng-model="pseudo">
            </label>

            <div class="padding">
                <button class="button button-block button-positive" ng-click="setPseudo(pseudo)">Sauvegarder</button>
            </div>
        </div>
    </ion-content>
</ion-view>
