# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.DS_Store
/*
!/www
!/resources
/www/jxcore/node_modules
!README.md
!.gitignore
!diapo.key
!config.xml
!rapport.pages
!Pong.apk