<ion-view view-title="Configuration de la partie">
<ion-content>
<div class="list card">

 <div class="button-bar bar-light">
   <a class="item center card">
       <span class="ion-chevron-left"></span>
   </a>
    <div class="item center card">
            <h2>Joueur du haut</h2>
            <p>IA facile</p>
    </div>
   <a class="item center card">
    <span class="ion-chevron-right"></span>
  </a>
</div>

<div class="list card">
    <div class="item center">
        <h2>
        <span class="ion-chevron-left"></span>
        Nombre de points
            <span class="ion-chevron-right"></span></h2>
        <p>12</p>
    </div>



    <div class="item center">
        <h2>Mode</h2>
        <p>Flappy Pong</p>
    </div>
</div>

<div class="item center">
    <h2>Joueur du Bas</h2>
    <p>Nom du Joueur</p>
</div>



</div>

</ion-content>
</ion-view>
