<ion-view view-title="Heberger une partie">
    <ion-content>
		<div id="ipaddrs" class="list">
		  <div class="item item-divider">
		    Votre adresse
		  </div>
		</div>
		<div id="hasJoined" class="list">
		  <div class="item item-divider">
		    Joueurs dans le lobby
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		  	<i id="clrbtn" class="icon ion-trash-b"></i>
		    Logs JXCore
		  </div>
		  <div id="logs" class="item item-text-wrap">
		    
		  </div>
		</div>
    </ion-content>
</ion-view>