<ion-view view-title="Multijoueur" hide-nav-bar="true">
    <ion-content>
            <div class="item-image home-image">
            <img class="full-image" src="img/mainMenu.png" />
        </div>

        <div class="containerButtonMenu">
        <div>
            <button class="button button-block button-outline button-positive" ui-sref="jeux-heberger">
                Heberger
            </button>
        </div>
        <div>
            <button class="button button-block button-outline button-positive" ui-sref="jeux-rejoindre">
                Rejoindre
            </button>
        </div>
               <div>
            <button class="button button-block  button-outline button-positive" ui-sref="home">Retour</button>
        </div>
        </div>
    </ion-content>
</ion-view>
