<ion-view view-title="Jouer">
    <ion-content>
        <div class="padding">
            <button class="button button-block button-positive" ui-sref="solo-normal">
                Normal
            </button>
            <button class="button button-block button-positive" ui-sref="solo-flappypong">
                FlappyPong
            </button>
            <button class="button button-block button-positive" ui-sref="solo-multipong">
                MultiPong
            </button>
            <button class="button button-block button-positive" ui-sref="solo-larrypong">
                LarryPong
            </button>
        </div>
    </ion-content>
</ion-view>
