.col-config {
    height: 50px;
}

.col-config-mid {}

.col-config-mid>h2 {
    display: inline;
}

.center {
    text-align: center;
}

.blur-element {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.premierLancement {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 5%;
}

#gameArea {
    max-width: 100%;
    max-height: 100%;
}

.textFin {
    padding-top: 20%;
    margin-bottom: 40%;
}

.buttonCustom{
    padding-left: 20%;
    padding-right: 20%;
}