@font-face {
    font-family: 'Roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
}

.col-config {
    height: 50px;
}

.col-config-mid {}

.col-config-mid>h2 {
    display: inline;
}

.center {
    text-align: center;
}

.blur-element {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.premierLancement {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 5%;
}

.home-image{
    padding-top: 25%;
}
#gameArea {
    max-width: 100%;
    max-height: 100%;
}

.textFin {
    font-family: 'Roboto-thin';
    padding-top: 20%;
    margin-bottom: 40%;
}


.buttonPlay{
    padding-left: 35%;
    padding-right: 35%;
        border-radius: 20px;


}
.buttonPlay>a{
    border-radius: 20px;
}

.buttonCustom{
    padding-left: 20%;
    padding-right: 20%;
}

.containerButtonMenu{
    padding-top:10%;
    padding-left: 20%;
    padding-right: 20%;
}

.containerButtonMenu>div{
    padding-bottom: 10px; 
}

.containerButtonMenu>div>button{
    margin-top: 2%;
    border-radius: 20px;
}

.buttonCustom>button{
    border-radius: 20px;
}